<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<!--name:suit 名称，测试报告中展示; verbose:在控制台中如何输出(1,2,3,4);-->
<!--parallel,设置并行执行级别(tests,methods,classes,instances);thread-count 设置线程数; preserve-order 顺序执行-->
<!--parallel="tests" thread-count="3" preserve-order="true"-->
<suite name="All Test Suite" preserve-order="true">
    <!--<test name="Shopping-with-login" preserve-order="true" parallel="methods" thread-count="3">-->
    <test name="normal" preserve-order="true">
        <groups>
            <run>
                <include name="normal"/>
            </run>
        </groups>
        <classes>
            <class name="TestXunit.ShoppingTest">
            </class>
        </classes>
    </test>

    <test name="not_login">
        <groups>
            <run>
                <include name="not_login"/>
            </run>
        </groups>
        <classes>
            <class name="TestXunit.ShoppingTest">
            </class>
        </classes>
    </test>

    <test name="Shopping-with-login" preserve-order="true">
        <groups>
            <run>
                <include name="abnormal"/>
            </run>
        </groups>
        <classes>
            <class name="TestXunit.ShoppingTest">
            </class>
        </classes>
    </test>

</suite>
